body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }  
  H1{
    text-align: center;
  }
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#ddd8c2;
}
.header {
    background-color: #cec7c7; 
    color: #fff; 
    padding: 10px; 
  }
.footer {
    background-color: #cc9c9c;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  img {
    margin-left: 300px;
    max-width: 400px;
    height: 200px;
  }